/*** Global ***/

.icon-check {
  color: black;
}

.icon-ok {
  color: green;
}

.icon-check {
  color: black;
}

.icon-remove {
  color: red;
}


/*** Helpers ***/

.box {
  border: solid 1px red;
}

.deliniate {
  border: solid 2px black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

/*** Navbar ***/

/* changed from '.bottom-nav' to '.nav' */
.my-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 3em;
  background-color: #16a085;
  z-index: 2;
}

/* Navbar Current User */
.user {
  margin-bottom: 0.5em;
  height: 3em;
}

.user-item {
  height: 3em;
}

.user-image {
  padding-left: 15%;
  width: 10%;
}

.user-name {
  padding-bottom: 0.025em;
  padding-left: 0.5em;
  display: inline;
}

.user-level-number {
  margin-left: 0.5em;
  font-size: 24px;
  color: white;
}

/* Navbar Group Member User */

.group {
  margin-bottom: 0.5em;
  height: 3em;
}

.group-item {
  height: 3em;
}

.group-image {
  width: 12.5%;
}

.group-name {
  padding-bottom: 0.025em;
  display: inline;
}

/* Isn't being used but should be */
.group-level-number {
  margin-left: 0.5em;
  font-size: 24px;
  color: white;
}

.on {

}

.off {
  opacity: 0.40;
}

.list-item-header {
  padding-left: 2%;
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: solid 1px black;
  color: #049cdb;
}

/*** Calendar Section ***/ 

.calendar {
  margin-top: 2em;
  padding-top: 30px;
}

.calendar-title {
  text-align: center;
}

.current-day {
  width: 2em;
  height: 15em;
  border: solid 2px black;
  background-color: white;
  overflow: scroll;
}

.current-day-title {
  font: 46px;
}

/*This should be named descriptively */
.font {
  color: black;
  display: inline;
  font-size: 1.1em;
}

.calendar .current-day-item {
  margin-left: 0.2em;
}

.day-list {

}

.day-item {
  font: 4px;
  border-bottom: solid 1px black;
}

.day-item h6 {
  font-size: 16px;
}

/*** Calendar Task Modals ***/

.completion {

}

.completion .pic-list li {
  display: inline;
  margin-left: 12%;
}

.completion .task-points-value {
  font-size: 26px;
}

.comments {
  height: 4em;
  overflow: scroll;
}

.add-comments-button {
  margin-left: 2%;
}

.modal-comment-user {
  color: red;
}

.user-image-comment {
  width: 2.5em;
}


/*** Project Input Task Modal **/

h3.input-name {
  display: inline;
}

.input-body {
  margin-right: 3%;
}

.modal-member {
  display: inline;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 18px;
  color: #049cdb;
}

.modal-icon {
  font-size: 24px;
  margin-left: 9%;
}

.modal-element {
  margin-right: 9%;
}

/*** Graph Section ***/

.graph-box {
  margin-top: 6em;
}

.graph-title {
  border-bottom: solid 1px black;
}

.graph-tab {
  color: #16a085;
}


/** Project View **/

.tab-box {

}

.project-title {
  color: #16a085;
  display: inline;
}

.tab-box .current-user {
  background-color: rgba(74, 227, 247, 0.45);
  border-radius: 6px;
  padding: 0.5% 0.5% 8% 1%;
}

.learning-tree-item {
  list-style: none;
}

.tab-box .icons {
  color: red;
  padding-left: 1%;
}

.overall-bar {
  margin-top: 1%;
}

.tab-box .date-time {
  color: #16a085;
  font-weight: bold;
  margin-left: 1.8%;
}


/** Project View Modal **/



/** Team Section **/

.skill-title {
  color: #16a085;
}

.user-title {
  display: inline;
  color: red;
}

.percent {
  margin-left: 1%;
  color: black;
}

.accordion-heading .accordion-toggle.input-button {
  display: inline;
  padding-top: 2%;
}

.input-button {
  display: inline;
}